@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-pulse {
  animation: blink 1s infinite;
}

@layer components{
  .error-message{
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(-1rem);
  }

  .error-message:not(:empty){
    opacity: 1;
    transform: translateY(0);
  }
}


@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 339 20% 20%;
    --primary: 308 56% 85%;
    --primary-foreground: 210 22% 22%;
    --secondary: 196 75% 88%;
    --secondary-foreground: 210 22% 22%;
    --accent: 211 86% 70%;
    --accent-foreground: 210 22% 22%;
    --destructive: 0 93% 73%;
    --destructive-foreground: 210 22% 22%;
    --muted: 210 100% 95%;
    --muted-foreground: 210 22% 22%;
    --card: 210 100% 97%;
    --card-foreground: 210 22% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 20% 22%;
    --border: 210 40% 80%;
    --input: 210 40% 56%;
    --ring: 210 40% 60%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-image: url('/images/PastedGraphic-1-1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: "100%"; 
    margin: 0; 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

.shadow-custom {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 0px 10px rgba(0, 0, 0, 0.06);
}

.markdown-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  h1 { font-size: 1.5em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.1em; }
  
  p {
    margin-bottom: 1em;
  }
  
  a {
    color: #58a6ff;
    text-decoration: underline;
  }
  
  blockquote {
    border-left: 3px solid #58a6ff;
    padding-left: 1em;
    margin-left: 0;
    font-style: italic;
  }

  code {
    background-color: #3a3a3a; 
    padding: 0.2em 0.4em;
    border-radius: 3px;
    color: #e6e6e6; 
  }
}